img{
    margin: 1%;
}
div{
   justify-content: center; 
}

form{
    justify-content: center;
}

body{
    background-color: rgb(18, 11, 11);
}
#remove{
    background-color: rgb(215, 60, 60);
}
#search{
    background-color: rgb(67, 65, 65);
}
